dist: trusty
sudo: required
language: python
python:
  - "3.6"
script:
- pip install nltk==3.3
- pip install attrs==18.2.0
- python -m nltk.downloader vader_lexicon stopwords wordnet brown_tei gutenberg punkt popular
- pip install -e .
- pytest -v 
before_install:
  - sudo apt-get install -y enchant 
addons:
  apt:
    update: true
